.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 100px;
  margin: 27px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 257px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 244px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
  }
}